@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color: rgb(227, 81, 195);
}
.drawer-side a{
    background-color:transparent;
}
.circle{
    clip-path: circle();
}


